name: CI

on:
  push:
    paths:
      - 'packages/server/**'
      - 'packages/web/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.8

      - name: Install dependencies
        run: bun install

      - name: Build web
        run: bun run build:web

      - name: Build server
        run: bun run build:server
